name: Deploy React Todo UI 

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  deploy:
    name: Deploy job
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source code
        uses: actions/checkout@v6.0.1

      - name: setupnodejs
        run: |
          curl -s https://deb.nodesource.com/setup_16.x | sudo bash
          sudo apt install nodejs -y
      - name: npm install dependencies
        run: npm install

      - name: npm build
        run: npm run build
          
     
        
